@media screen and (max-width:1200px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        
    }
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .header-left {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;

    }
    header .logo {
        margin: 5px;
    }
    .header-right{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
    }
    .header-right a {
        margin: 4px;
        font-size: 12px;
        padding: 4px;
    }
    #about {
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
    }
    #about img {
        width: 300px;
        height: auto;
    }

    section .flex {
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
    }
    footer {
        flex-direction: column;
        justify-content:center;
    }
}