* {
    margin: 0;
    padding: 0;
}

/* Header section start from here */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header .header-left {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    flex-basis: 50%;
}
header .logo {
    border-radius: 50%;
    margin: 10px;
}

.header-left a{
    text-decoration: none;
    color:white;
}
header a:hover{
    color: grey;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.header-right a{
    margin: 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 10px;

}
.header-right a:hover {
    color : black;
    background-color: yellowgreen;
}

/* Header section end */

/* Container and after that about hasan section */

.container {
    width: 90%;
    margin: auto;
}
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;

}
.aboutText {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
section .aboutImg {
    width: 500px;
    height: auto;
    border-radius: 10px;
}
section .aboutText {
    width: 50%;
}
#about h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

#about p {
    font-size: 18px;
    font-style: italic;

}
#about button {
    padding: 10px 30px;
    background-color: rgb(61, 61, 230);
    margin: 25px auto;
    font-size: 18px;

}

/* About section end  */

/* Gallery section starts */

#gallery h1 {
    font-size: 50px;
    text-align: center;
    margin: 25px 0;
}

#gallery p {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin: 25px 0;
}

section .flex {
    display: flex;
    justify-content:center;
    align-items: center;
}

.flex img {
    margin: 5px;
    width: 300px;
    height: 300px;
    border:2px solid black;
    border-radius:5px;
}
.flex img:nth-child(3) {
    transform:rotate(-90deg);
}

/* Gallery section end  */


/* Contact us page  */

#contact h1 {
    font-size: 50px;
    text-align: center;
    margin: 25px 0;
}

#contact p {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin: 25px 0;
}

#contact img {
    width: 50px;
    height: auto;
    position: relative;
    top: 13px;
}

#contact a {
    text-decoration: none;
    color: rgb(70, 21, 21);
}
#contact a:hover {
    color: green;
}


/* now the last foooter area */

footer {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

footer em {
    color: white;
    font-size:15px;
    padding : 30px;
}
footer img {
    width: 30px; 
    height: auto;
    position: relative;
    top : 5px
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: green;
}

/* end for computers and now media queries */



